.btn-white {
    --btn-color: #000;
    --btn-bg: #f8f9fa;
    --btn-border-color: #f8f9fa;
    --btn-hover-color: #000;
    --btn-hover-bg: #d3d4d5;
    --btn-hover-border-color: #c6c7c8;
    --btn-focus-shadow-rgb: 211, 212, 213;
    --btn-active-color: #000;
    --btn-active-bg: #c6c7c8;
    --btn-active-border-color: #babbbc;
    --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --btn-disabled-color: #000;
    --btn-disabled-bg: #f8f9fa;
    --btn-disabled-border-color: #f8f9fa;
}

.btn-black {
    --btn-color: #fff;
    --btn-bg: #000000;
    --btn-border-color: #000000;
    --btn-hover-color: #fff;
    --btn-hover-bg: #171717;
    --btn-hover-border-color: #121212;
    --btn-focus-shadow-rgb: 23, 23, 23;
    --btn-active-color: #fff;
    --btn-active-bg: #171717;
    --btn-active-border-color: #111;
    --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --btn-disabled-color: #fff;
    --btn-disabled-bg: #000000;
    --btn-disabled-border-color: #000000;
}

.btn-yellow {
    --btn-color: #000000;
    --btn-bg: #ffc107;
    --btn-border-color: #ffc107;
    --btn-hover-color: #000000;
    --btn-hover-bg: #e0a800;
    --btn-hover-border-color: #d39e00;
    --btn-focus-shadow-rgb: 255, 193, 7;
    --btn-active-color: #000000;
    --btn-active-bg: #d39e00;
    --btn-active-border-color: #c69500;
    --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --btn-disabled-color: #000000;
    --btn-disabled-bg: #ffc107;
    --btn-disabled-border-color: #ffc107;
}

.btn {
    display: inline-block;
    padding: 0.875rem 2rem;
    color: var(--btn-color);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
    color: var(--btn-hover-color);
    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
    cursor: pointer;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), .7);
    outline: 0;
}

.btn:active {
    color: var(--btn-active-color);
    background-color: var(--btn-active-bg);
    border-color: var(--btn-active-border-color);
    box-shadow: var(--btn-active-shadow);
}

.btn:disabled {
    color: var(--btn-disabled-color);
    background-color: var(--btn-disabled-bg);
    border-color: var(--btn-disabled-border-color);
}

@media screen and (max-width: 500px) {
    .btn {
        padding: 0.75rem 1.5rem;
        font-size: 0.875rem;
    }
}
