.btn-red {
    --btn-color: #fff;
    --btn-bg: #ba0208;
    --btn-border-color: #ba0208;
    --btn-hover-color: #fff;
    --btn-hover-bg: #960206;
    --btn-hover-border-color: #7d0003;
    --btn-focus-shadow-rgb: 181, 7, 7;
    --btn-active-color: #fff;
    --btn-active-bg: #7d0003;
    --btn-active-border-color: #690003;
    --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --btn-disabled-color: #fff;
    --btn-disabled-bg: #ba0208;
    --btn-disabled-border-color: #ba0208;
}

.btn {
    display: inline-block;
    padding: 0.875rem 2rem;
    color: var(--btn-color);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
    color: var(--btn-hover-color);
    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
    cursor: pointer;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), .7);
    outline: 0;
}

.btn:active {
    color: var(--btn-active-color);
    background-color: var(--btn-active-bg);
    border-color: var(--btn-active-border-color);
    box-shadow: var(--btn-active-shadow);
}

.btn:disabled {
    color: var(--btn-disabled-color);
    background-color: var(--btn-disabled-bg);
    border-color: var(--btn-disabled-border-color);
}

@media screen and (max-width: 480px) {
    .btn {
        padding: 0.75rem 1rem;
        font-size: 0.9rem;
    }
}