.embla-blog {
  position: relative;
  max-width: 100%;
  margin: auto;
  /* --slide-height: 100vh; */
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla-blog__viewport {
  overflow: hidden;
}

.embla-blog__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla-blog__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
}

.embla-blog__slide__number {
  user-select: none;
}

.embla-blog__buttons {
  padding: 0rem;
  position: absolute;
  bottom: -12px;
  right: 0;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
}

.embla-blog__button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: rgba(0, 0, 0);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla-blog__button:disabled {
  pointer-events: none;
}

.embla-blog__button__svg {
  width: 50%;
  height: 50%;
  cursor: pointer;
  transition: color .15s ease-in;
}

.embla-blog__button__svg:hover {
  color: rgba(0, 0, 0, .75);
}

.embla-blog__button:disabled .embla-blog__button__svg {
  color: rgba(0, 0, 0, .35);
  pointer-events: none;
}

@media screen and (max-width: 876px) {
  .embla-blog {
    position: unset;
  }

  .embla-blog__buttons {
    padding: 0 1.5rem;
    bottom: 0;
  }
}

@media screen and (max-width: 640px) {
  .embla-blog__buttons {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 480px) {
  .embla-blog__buttons {
    padding: 0 0.75rem;
  }

  .embla-blog__buttons {
    gap: 8px;
  }

  .embla-blog__button__svg {
    width: 45%;
    height: 45%;
  }
}

@media screen and (max-width: 375px) {
  .embla-blog__buttons {
    gap: 5px;
  }

  .embla-blog__button__svg {
    width: 42%;
    height: 42%;
  }
}