.embla-hero {
  max-width: 100%;
  margin: auto;
  --slide-height: 100vh;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla-hero__viewport {
  position: relative;
  overflow: hidden;
}

.embla-hero__container {
  display: flex;
  touch-action: pan-y pinch-zoom;

}

.embla-hero__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
}

.embla-hero__slide__number {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.embla-hero__controls {
  width: 100%;
}

.embla-hero__buttons {
  padding: 1.5rem 4rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
}

.embla-hero__button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: rgba(255, 255, 255);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla-hero__button:disabled {
  pointer-events: none;
}

.embla-hero__button__svg {
  width: 50%;
  height: 50%;
  cursor: pointer;
  transition: color .15s ease-in;
}

.embla-hero__button__svg:hover {
  color: var(--color-red);
}

.embla-hero__button:disabled .embla-hero__button__svg {
  color: rgba(255, 255, 255, .15);
  pointer-events: none;
}

.embla-hero__dots {
  height: 100%;
  padding: 0 6.75rem;
  padding-bottom: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.embla-hero__dot {
  -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla-hero__dot:after {
  box-shadow: inset 0 0 0 0.2rem rgba(255, 255, 255, .25);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
  transition: box-shadow .15s ease-in;
}

.embla-hero__dot:hover::after {
  box-shadow: inset 0 0 0 0.2rem rgb(234, 234, 234);
}

.embla-hero__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem rgb(234, 234, 234);
}

@media screen and (max-width: 1024px) {
  .embla-hero__buttons {
    padding: 2rem;
  }

  .embla-hero__dots {
    padding: 0 4.65rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .embla-hero__dots {
    display: none;
  }

  .embla-hero__button {
    -webkit-tap-highlight-color: transparent;
    background-color: rgba(240, 240, 240, .25);
    color: rgba(255, 255, 255);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .15s ease-in, box-shadow .15s ease-in;
  }

  .embla-hero__button:hover {
    background-color: rgba(240, 240, 240, 1);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5), 0 4px 6px -4px rgb(0 0 0 / 0.5);
  }

  .embla-hero__button:disabled {
    background-color: transparent;
    box-shadow: none;
    pointer-events: none;
  }

  .embla-hero__button__svg {
    width: 42%;
    height: 42%;
    transition: color .15s ease-in;
  }

  .embla-hero__button:hover .embla-hero__button__svg {
    color: var(--color-red);
    box-shadow: none;
  }

  .embla-hero__button:disabled .embla-hero__button__svg {
    color: rgba(255, 255, 255, .15);
    pointer-events: none; 
  }
}

@media screen and (max-width: 640px) {
  .embla-hero__buttons {
    padding: 2rem 1.5rem;
  }

  .embla-hero__button {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 375px) {
  .embla-hero__button {
    width: 2.6rem;
    height: 2.6rem;
  }
}

@media screen and (max-height: 560px) {
  .embla-hero__dots {
    display: none;
  }
}

@media screen and (max-width: 480px) and (max-height: 560px) { 
  .embla-hero__button {
    width: 2.5rem !important;
    height: 2.5rem !important;
  } 

  .embla-hero__buttons {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  } 
}

@media screen and (max-height: 440px) {
  .embla-hero__buttons {
      padding-top: 1rem;
      padding-bottom: 1rem;
  }    
}

@media screen and (max-width: 768px) and (max-height: 440px) {
  .embla-hero__buttons {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
  }    
}