.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.header .header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo .logo-icon {
    color: var(--color-white);
    font-size: 2.25rem;
}

.header__logo .logo-name {
    color: var(--color-white);
    font-weight: 800;
    font-size: 1.25rem;
}

.header .menu-icon {
    color: var(--color-white);
    font-size: 1.95rem;
}

.header .menu-icon:hover {
    cursor: pointer;
}