.header {
    position: relative;
    width: 100%;
    background-color: #121212;
    overflow: hidden;
}

.header .header__top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.header__top .header-logo {
    display: flex;
    align-items: center;
    gap: 2px;
}

.header__top .header-logo .logo-icon {
    position: relative;
    bottom: 10px;
    color: var(--color-white);
    font-size: 2.275rem;
}

.header__top .header-logo .logo-name {
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 1.65rem;
    background: var(--title-color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

.header__top .menu-icon {
    display: flex;
    color: var(--color-white);
    font-size: 2rem;
    transition: color .15s ease-in;
}

.header__top .menu-icon:hover {
    cursor: pointer;
    color: rgba(240, 240, 240, .65);
}

.overlay-body {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    transform: translateX(-100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%);
    transition: transform 0.4s ease-in-out;
}

.overlay-body.visible {
    transform: translateX(0);
}

@media screen and (max-width: 480px) {
    .header__top .header-logo .logo-icon {
        font-size: 2.15rem;
    }
    
    .header__top .header-logo .logo-name {
        font-size: 1.45rem;
    }
}

@media screen and (max-width: 375px) {
    .header .header__top {
        align-items: flex-start;
    }

    .header__top .header-logo .logo-icon {
        font-size: 2rem;
    }
    
    .header__top .header-logo .logo-name {
        font-size: 1.25rem;
    }

    .header__top .menu-icon {
        font-size: 1.85rem;
    }
}
