@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-base: "Poppins", sans-serif;

    --color-white: #FFFFFF;
    --color-sub-white: #EEEEEE;
    --color-black: #121212;
    --color-sub-black: #1F1F1F;
    --color-gray: #AAAAAA;
    --color-yellow: #FFC107;

    --color-hover-gray: #a3a3a3;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    font-family: var(--font-base);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

a {
    color: unset;
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    font-size: 2.75rem;
    font-weight: 700;
}

p {
    color: var(--color-sub-black);
    font-weight: 300;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.75rem;
    color: var(--color-black);
    font-size: 1rem;
    user-select: none;
    border: 2px solid var(--color-black);
    background-color: transparent;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(23, 23, 23);
}

@media screen and (max-width: 480px) { 
    h2 {
        font-size: 2.45rem;
    }
    
    p {
        font-size: 0.875rem;
    }

    input {
        padding: 0.75rem 1rem;
        font-size: 0.9rem;
    }
}
