.nav-container {
    height: 100vh;
    width: 340px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.nav {
    height: 100vh;
    width: 340px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 50px;
    z-index: 60;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.nav::-webkit-scrollbar {
  width: 10px;
}
.nav::-webkit-scrollbar-track {
  background: #e2e8f0;
}

.nav::-webkit-scrollbar-thumb {
  background-color: rgba(186, 2, 8, 0.85);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background-color .15s linear;
}

.nav::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-hover-red);
}

.nav__close {
    position: absolute;
    top: 5%;
    left: -30px;
    background: #f0f0f0;
    height: 57px;
    width: 57px;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px rgba(0,0,0,0.03);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatex(100%);
    -webkit-transform: translateX(100%);
    z-index: 70;
    cursor: pointer;
    transition: transform 0.4s ease-in-out 0.2s, box-shadow 0.15s ease-in;
}

.nav__close::before, 
.nav__close::after {
    content: "";
    height: 2px;
    background: #898989;
    width: 24px;
    display: block;
    position: absolute;
    transition: background 0.15s ease-in;
}
    
.nav__close::after {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.nav__close:hover {
    box-shadow: 0 0 20px 20px rgba(0,0,0,0.07);
}

.nav__close:hover::before,
.nav__close:hover::after {
    background: #000;
}

.nav .nav__list {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.45rem;
    text-transform: uppercase;
    margin-top: 7rem;
    margin-bottom: 7rem;
    color: var(--color-black);
}

.nav .nav__list .nav__list-item {
    margin: 0.85rem 0;
}

.nav__list .nav__list-item {
    transform: translatex(80%);
    -webkit-transform: translateX(80%);
    transition: transform 0.4s ease-in-out;
}

.nav__list .nav__list-item::before {
    content: "";
    height: 2px;
    background: var(--color-black);
    width: 220px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: translatex(50%);
    -webkit-transform: translateX(50%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s linear;
}   

.nav__list .nav__list-item:hover::before {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
}

.nav__list .nav__list-item:nth-child(1) {
    transition-delay: 0.05s;
}

.nav__list .nav__list-item:nth-child(2) {
    transition-delay: 0.1s;
}

.nav__list .nav__list-item:nth-child(3) {
    transition-delay: 0.15s;
}

.nav__list .nav__list-item:nth-child(4) {
    transition-delay: 0.2s;
}

.nav__list .nav__list-item:nth-child(5) {
    transition-delay: 0.25s;
}

.menu-control {
    display: none; 
}

.nav-container.visible {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.nav.visible {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.nav__close.visible {
    transform: translateX(0) rotate(45deg);
    -webkit-transform: translateX(0) rotate(45deg);
}

.nav__list-item.visible {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

@media screen and (max-width: 480px) {
    .nav-container {
        width: 300px;
    }

    .nav {
        width: 300px;
        padding: 0 40px;
    }

    .nav .nav__list {
        font-size: 1.35rem;
    }
}

@media screen and (max-width: 375px) {
    .nav-container {
        width: 280px;
    }

    .nav {
        width: 280px;
        padding: 0 30px;
    }

    .nav .nav__list {
        font-size: 1.25rem !important;
    }
}

@media screen and (max-width: 320px) {
    .nav-container {
        width: 245px;
    }

    .nav {
        width: 245px;
    }

    .nav .nav__list {
        font-size: 1.125rem !important;
    }
}

@media screen and (max-height: 576px) { 
    .nav {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .nav .nav__list {
        font-size: 1.35rem;
        margin-top: 5.5rem;
        margin-bottom: 5.5rem;
    }
}

@media screen and (max-height: 438px) {
    .nav__close {
        top: 8%;
    }
}